body {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}

#root {
  max-width: 1280px;
  text-align: center;
}

.read-the-docs {
  color: #888;
}

/* Bottom header bar (thick bar with dropdowns) */
.header-bottom {
  background-color: #ffeac5;
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Dropdown container */
.dropdown-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  width: 100%;
  color: rgb(0, 0, 0);
}

/* Each dropdown */
.dropdown {
  flex: 1 1 150px;
  /* Allow each dropdown to be responsive and take up 150px minimum width */
  max-width: 120px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Style for the label */
.dropdown label {
  margin-bottom: 8px;
  font-size: 0.9rem;
}

/* Style for the 'Option' text under the label */
.dropdown p {
  font-size: 0.9rem;
  color: #666;
  margin-top: 4px;
  margin-bottom: 10px;
}

/* Style for the select dropdown */
select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

.search-button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

/* Style for the search button */
.search-button {
  padding: 8px 16px;
  font-size: 14px;
  background-color: #6C4E31;
  color: white;
  border: none;

  cursor: pointer;
  transition: background-color 0.5s ease;
}

.title {
  color: white;
}

/* Search button hover effect */
.search-button:hover {
  background-color: #F49690;
}

/* Adjust for larger screens if necessary */
@media (min-width: 768px) {
  .dropdown-container {
    flex-wrap: nowrap;
  }
}

.custom-select {
  width: 300px;
  /* Set the width of the select box */
  font-size: 16px;
  /* Font size */
  border-radius: 8px;
  /* Rounded corners */
}
