body {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
  color: #603F26;
}

.panel-container {
  display: flex;
  /* Use flexbox to create a row layout */
  height: 100vh;
  /* Full viewport height */
}

.panel {
  flex: 1;
  /* Distribute space equally */
  border: 2px solid #6c4e31;
  /* Optional, to make the panels visible */
  padding: 20px;
  box-sizing: border-box;
  color: #603f26;
  /* Ensure padding is included in the width/height calculation */
}

.left {
  background-color: #ffeac5;
}

.center {
  background-color: #ffeac5;
}

.alt-center {
  background-color: #ffeac5;
  width: 400px;
}

.right {
  background-color: #ffeac5;
  overflow-y: auto;
}

.alt-center img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.grey-button {
  background-color: #6C4E31;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.5s ease;
  transition: all 0.3s ease-in-out;
}

.grey-button:hover {
  background-color: #F49690;
  transform: translateY(-2px);
}

.grey-button:active {
  background-color: #F49690;
}
