body {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
  color: #603F26;
}

.panel-container {
  display: flex;
  height: 100vh;
  /* Use flexbox to create a row layout */
}

.panel {
  border: 2px solid #6c4e31;
  min-height: 10px;
  /* Optional, to make the panels visible */
  padding: 20px;
  box-sizing: border-box;
  color: #603f26;
  overflow-y: auto;
  /* Ensure padding is included in the width/height calculation */
}

.left {
  background-color: #ffeac5;
  flex: 1;
  padding-bottom: 200px;
}

.center {
  background-color: #ffeac5;
  width: 70vw;
  padding-bottom: 15px;
}

.alt-center {
  background-color: #ffeac5;
  width: 30vw;
  padding-bottom: 200px;
}

.right {
  background-color: #ffeac5;
}

.alt-center img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.grey-button {
  background-color: #6C4E31;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.5s ease;
  transition: all 0.3s ease-in-out;
}

.grey-button:hover {
  background-color: #F49690;
  transform: translateY(-2px);
}

.grey-button:active {
  background-color: #F49690;
}

img {
  border-radius: 10px;
}

.left-panel-buttons {
  width: 100%;
  background-color: #ffeac5;
  color: #6C4E31;
}

.left-panel-buttons:hover {
  background-color: #6C4E31;
  color: white;
}

.container {
  text-align: center;
  background-color: #ffeac5;
  padding: 40px 40px;
  width: inherit;
  border-radius: 15px;
  box-sizing: border-box;
}