.suite-info {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 90%;; /* Adjust the width based on your layout */
    padding: 15px;
    margin: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  .suite-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .suite-number {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
  }
  
  .floor-plan-link {
    font-size: 0.9em;
    color: #0077b5;
    text-decoration: none;
  }
  
  .floor-plan-link:hover {
    text-decoration: underline;
  }
  
  .suite-details {
    display: flex;
    flex-direction: horizontal;
    justify-content: space-between;
    margin-top: 15px;
  }
  
  .detail {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }
  
  .detail label {
    font-weight: bold;
    color: #555;
  }
  
  .detail span {
    color: #333;
    font-size: 1em;
  }
  
  /* Dorm Room styling */
  .dorm-rooms {
    margin-top: 20px;
  }
  
  .dorm-room {
    background-color: #e9e9e9;
    padding: 10px;
    margin: 10px 0;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .dorm-room-header {
    display: flex;
    justify-content: space-between;
  }
  
  .dorm-room-number {
    font-size: 1.1em;
    font-weight: bold;
    color: #333;
  }
  
  .dorm-room-details {
    display: flex;
    flex-direction: horizontal;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .dorm-room-details .detail {
    justify-content: space-between;
    margin-bottom: 6px;
  }
  
  .dorm-room-details label {
    font-weight: bold;
    color: #555;
  }
  
  .dorm-room-details span {
    color: #333;
    font-size: 1em;
  }
  